[submodule "AstraArmController"]
	path = AstraArmController
	url = https://github.com/trail-club/AstraArmController.git
[submodule "AstraPedalController"]
	path = AstraPedalController
	url = https://github.com/hilookas/AstraPedalController.git
[submodule "AstraLiftController"]
	path = AstraLiftController
	url = https://github.com/trail-club/AstraLiftController.git
[submodule "AstraHeadController"]
	path = AstraHeadController
	url = https://github.com/hilookas/AstraArmController.git
